{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
  
  <div class="contrainer-fluid">
    
    <div class="row pt-1 text-right float-right">
        <button class="btn btn-danger px-4">Exit</button>
    </div>
    <h2 class="pt-4">NETWORK</h2>
    <div class="row">
        <div class="col-6 text-center justify-content-center pb-4">
          <h4 class="pb-3 pt-4">Restart</h4>
            <div class="myBar text-center justify-content-center d-flex">
             
            </div>
        </div>
        <div class="col-6 myBar1">
            <h4 class="pb-3 pt-4">Shutdown</h4>

        </div>
    </div>
  </div>
 
{% endblock %}
{% block footer %}


{% endblock %}